<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/js.js"></script>
<script src="/static/js/countDowmTimer.js"></script>
<script src="/static/js/gallery.js"></script>
<script src="/static/js/modal.js"></script>
<script src="/static/js/dropdownSelect.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
<script src="/static/js/swiper.js"></script>
<script src="/static/js/slideshow.js"></script>
<script src="/static/js/filter.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
