<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/font.css">
<link rel="stylesheet" href="/static/css/modal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
<link rel="stylesheet" href="/static/css/responsive_991.css" media="(max-width:991px)">
<link rel="stylesheet" href="/static/css/responsive_768.css" media="(max-width:768px)">
<link rel="stylesheet" href="/static/css/responsive_480.css" media="(max-width:480px)">
