{% extends 'layout.html' %}
{% block title %}
    ثبت نام
{% endblock %}
{% block context %}

    <main class="main">
        <div class="account">
            <div class="container">
                <h1 class="account__title">بازیابی رمز عبور</h1>
                <div class="account__form">
                    <form method="post" action="{% url "forget_password_page" %}">
                        {% csrf_token %}
                        {{ forget_pass_form.email }}
                        {{ forget_pass_form.email.errors }}
                        <button type="submit" class="btn btn--brand btn--boxshadow w--100">بازیابی رمز عبور</button>
                        <div class="account__footer">
                            <a href="{% url "login_page" %}" class="account__router">صفحه ورود</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>


{% endblock %}
