{% extends "layout.html" %}

{% block title %}
    تغییر رمز عبور
{% endblock %}
{% block context %}
    <main class="main">
        <div class="account">
            <div class="container">
                <h1 class="account__title">تغییر رمز عبور</h1>
                <div class="account__form">
                    <form method="post" action="{% url "reset_password_page" active_code=user.email_active_code %}">
                        {% csrf_token %}
                        {{ reset_password.password }}
                        <button type="submit" class="btn btn--brand btn--boxshadow w--100">تغییر رمز عبور</button>
                        <div class="account__footer">
                            <a href="{% url "login_page" %}" class="account__router">صفحه ورود</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
